<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regístrate</title>
  </head>
  <body>
      <h2>Registro de estudiantes</h2>
      <form action="" method="POST" id="form_ingreso">
       
            <label >CI:</label>
            <input type="text" name="ci_ingreso"   />
          
            <label >Nombres:</label>
            <input type="text" name="name_ingreso"   />
        
            <label >Direccion:</label>
            <input type="text" name="direccion_ingreso"  />
        
            <label >Teléfono:</label>
            <input type="text" name="telefono_ingreso"  />
    
            <label >Correo:</label>
            <input type="email" name="email_ingreso"   />

        <input type="submit" class="btn-login" id="btnenviar" value="Registrar" />
      </form>
    </div>

  </body>

</html>